<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Tasks Apuennta - Recuerda - Haz</title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename = 'css/style.css') }}">
	<link href= "{{ url_for('static', filename = 'css/bootstrap.min.css') }} " rel = "stylesheet">
</head>
<body>
</body>
<!--Cabeza-->
	<div id="main" style="padding: 150px 0;
	text-align: center;
	background-color: black;
	color: white;">
		<h1>Bienvenido a TASKS v0.01</h1>
		<h4 style=" color:#08B2E3;
	font-size: 20px;
	font-weight: lighter;
	opacity: 0.8;
	text-align: center;">Apunta - Recuerda - Haz</h4>
		<a href="/tasks/" class="btn btn-primary" style="
		text-align: center;"> Comienza a usar Tasks </a>
	</div>
	
	<center>
	<h3 style="color: skyblue;
			 font-family: 'Open Sans', sans-serif
			 font-size: 120px 
			 padding: 150px 0;"> Escribe tu proxima mision</h3>
	<form action="/create/" method="Post">
		Task Title: <input type="text" name="title"><br><br>
		Task: <input type="text" name="tasks"><br><br>
		<input class="btn btn-primary" type="submit" name="Post">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>	
		<br>
	</form>	
	</center>
<!--Footer-->
	<div class="footer" style="background: black;
	color: white;
	font-size: 20px;
	padding: 20px; 
	font-size: 20px;
	color: grey;
	">
		<ul class="list-inline">
			<li style="
			color: white;"><a href="#">Twitter</a></li>
			<li style="
			color: white;"><a href="#">Facebook</a></li>
			<li style="
			color: white;"><a href="#">Youtube</a></li>
			<li style="
			color: white;"><a href="#">Instagram</a></li>
		</ul>	
	</div>

</body>
</html>