<!DOCTYPE html>
<html>
	<head>
		<title>Cabinet</title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:100,300,400,700|Swanky+and+Moo+Moo" rel="stylesheet">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="cabinet.css">
	</head>
	<body>
		<div id="main">
		<h1>Cabinet</h1>
		<p>Formularios Online</p>
		<p><a href="new_post" class="btn btn-danger"> Crear </a></p>
		</div>
		<center>


		{% for post in post %}
			<h3> {post.name} </h1>
			<h3>{post.last_name}</h3>
			<h3>{post.birthday}</h3>
			<h3>{post.genered}</h3>
			<h3>{post.bloodt}</h3>
			<h3>{post.adress}</h3>
			<h5>Hora de publiacion: {{ post.date.strftime('%d/%m/%Y') }}</h5>
			<br>
			<br>
		{%endfor%}

		</center>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
	</body>
</html>
