<!DOCTYPE html>
<html>
	<body>
	<center>
	<form action="/create/" method="Post">
		Nombre: <input type="text" name="name"><br>
		Apellido: <input type="text" name="last_name"><br>
		Fecha de nacimiento: <input type="text" name="birthday"><br>
		<input type="radio" name="gender" value="male" checked> Male<br>
  		<input type="radio" name="gender" value="female"> Female<br>
 		<input type="radio" name="gender" value="other"> Other
		tipo de sangre: <input type="text" name="bloodt"><br>
		Dirreccion: <input type="text" name="adress"><br>
		<input type="Submit" name="Post">
	</form>
	</center>
	</body>
</html>